@model AutoRepair.Data.Entities.Service

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Delete";
}

<div class="content-wrapper" style="color: cornflowerblue; font-style: italic; margin-bottom: 10%; margin-top: 10%; margin-left: 20%">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Service</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeactivationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeactivationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CostPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CostPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalePrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
            <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
        </form>
    </div>


    <div id="deleteDialog" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete service ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                    <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                var id = 0;
                //Delete
                $("a[id*=btnDeleteItem]").click(function () {
                    debugger;
                    id = $(this).parent()[0].id;
                    $("#deleteDialog").modal("show");
                    return false;
                });

                $("#btnNoDelete").click(function () {
                    $("#deleteDialog").modal("hide");
                    return false;
                });

                $("#btnYesDelete").click(function () {
                    window.location.href = "/Service/DeleteItem/" + id;
                });

            });</script>
    }
